<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TurfCommand</title>
  <link rel="stylesheet" href="/static/base.css">
</head>
<body>
    <h1>TurfCommand</h1>

    <section>
        <h2>Mowing Details</h2>
        <div class="grid-container">
            <div class="grid-item">Last Mow Date</div>
            <div class="grid-item">Last Mow Height</div>
        </div>
    </section>

    <section>
        <h2>Watering Details</h2>
        <div class="grid-container">
            <div class="grid-item">Last Water Date</div>
            <div class="grid-item">Last Watering Amount</div>
        </div>
    </section>

    <section>
        <h2>Fertilizer Details</h2>
        <div class="grid-container">
            <div class="grid-item">Last Fertilizer Date</div>
            <div class="grid-item">Last Fertilizer Amount</div>
        </div>
    </section>
    
    <section>
        <h2>Weed Control Details</h2>
        <div class="grid-container">
            <div class="grid-item">Last Herbicide Date</div>
            <div class="grid-item">Last Herbicide Amount</div>
            <div class="grid-item">Herbicides Used</div>
        </div>
    </section>
    
    <section>
        <h2>Insect Control Details</h2>
        <div class="grid-container">
            <div class="grid-item">Last Pesticide Date</div>
            <div class="grid-item">Last Pesticide Amount</div>
        </div>
    </section>

  </div>
</body>
</html>
